{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}
{% if element['#webform_element'] %}
  <div class="custom-control custom-checkbox" tabindex="0">
    <input {{ attributes.addClass('custom-form-input') }}/>{{ children }}
    <label for="{{ element['#id'] }}" class="custom-form-label">{{ element['#title'] |raw }}</label>
  </div><!--/custom-control custom-checkbox custom-form-inline-->
{% else %}
  {% if element['#attributes']['checkbox-type'] == 'collect' %}
    <input  {{ attributes }}/>{{ children }}
  {% elseif element['#attributes']['checkbox-type'] == 'position' %}
    <input  {{ attributes }}/>{{ children }}
  {% elseif element['#attributes']['checkbox-type'] == 'department' %}
    <input  {{ attributes }}/>{{ children }}
  {% else %}
    <div class="custom-control custom-checkbox" tabindex="0">
    <input {{ attributes.addClass('custom-form-input') }}/>{{ children }}
    <label for="{{ element['#id'] }}" class="custom-form-label">{{ element['#title'] |raw }}</label>
    </div><!--/custom-control custom-checkbox custom-form-inline-->
  {% endif %}

{% endif %}
