{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 */
#}

{% if element['#name'] == 'date_start' or element['#name'] == 'date_end' or element['#name'] == 'gallerySearch' or element['#name'] == 'gallerySearchMobile' %}
	{% if element['#name'] == 'date_start' or element['#name'] == 'date_end' %}
		<input{{attributes}}/>{{ children }}
		<button class="btn input-date"></button>
	{% else %}
		<input{{attributes}}/>{{ children }}
{#    {{ dd() }}#}
		<button data-drupal-selector="edit-searchbutton" id="edit-searchbutton" name="op"  class="btn js-form-submit form-submit search-submit-btn" type="submit" title="Otsi">{{ "Search" |t}}</button>
	{% endif %}
{% else %}
	<input{{attributes}}/>{{ children }}
{% endif %}
