{#
/**
 * @file
 * Theme override for a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
  This ensures that, if clean URLs are off, the 'q' is added first,
  as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}
<div class="filters-wrapper">
  <div class="modal-header" aria-labelledby="filters-label">
    <div class="focus-trap" tabindex="0"></div>
    <h5 id="filters-label">{{ "Search results" | t }}</h5>
    <button class="btn btn-close">
      <span class="sr-only">{{ "Close modal" | t }}</span>
      <i class="mdi mdi-close"></i>
    </button><!--/btn-close-->
  </div>
  <div class="filters-top">
    {{ form.search_type }}
  </div><!--/filters-top-->

  <div class="filters-bottom">
    <div class="form-item search-input" data-plugin="movingLabel">
      {{ form|without('search_type') }}
    </div>
    <button class="btn btn-primary filters-ready">{{ "Ready" | t }}</button>
    <div class="mobile-filters">
      <button class="btn btn-secondary mobile-filter-trigger" data-plugin="filtersModal">{{ "Open filters" | t }}</button>
    </div>
    <div class="mobile-filters-output">

    </div><!--/mobile-filters-output-->
    <div class="focus-trap" tabindex="0"></div>
  </div><!--/filters-bottom-->

</div>

