{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}
{% if element['#orientation'] %}
  {% set orientation = element['#orientation'] %}
{% endif %}
{%
  set title_classes = [
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}
{% if field_name == 'field_gallery_id' %}
  {% for item in items  %}
    {% if item.content %}
      {% if item.content['#options'] %}
        {% if item.content['#options'].entity %}
          {% set gallery_id = item.content['#options'].entity.id %}
        {% endif %}
      {% endif %}
    {% endif %}
    {% if gallery_id %}
      {% set node =  drupal_entity('node',  gallery_id , 'teaser')['#node']%}

      <div class="image-block">
        {% set fields = [
          {'fname':'title'},
          {'fname':'field_phone','href_start':'tel:','class':'phone'},
          {'fname':'field_email','href_start':'mailto:','class':'e-mail'},
        ] %}
        {% if node.get('field_images').value %}
          {% set media_uri = node.field_images%}
          {% set images = node.get('field_images').getValue() %}
          {% if not orientation %}
          {% set orientation = 'landscape' %}
              {% endif %}
          {% for image in images %}
            {% set media = drupal_entity('media',image.target_id) %}
            {% if media['#media'] %}
              {% set image_width = media['#media'].get('field_media_image').width %}
              {% set image_height = media['#media'].get('field_media_image').height %}
              {% set ratio = image_width/image_height %}

              {% set padding = image_height/image_width*100 %}
              {% set media_uri = media['#media']|file_uri %}
              {% set media_url = file_url(media_uri) %}
              {% set media_alt = media['#media'].get('field_media_image').alt %}
              {% set media_title = media['#media'].get('field_media_image').title %}
            {% if loop.first %}
              <a data-plugin="modalOpener" data-image="{{ media_url }}" data-modal="single" title="{{ media_title }}" class="image-field image-field--{{ orientation }}" style="
                background-image: url('{{ drupal_image(media_uri,orientation)['#uri']|file_url }}');
              {% if orientation=='natural' %}
                {% if image_width > 399 and ratio > 1 %}
                  padding-top: {{ padding }}%;
                {% endif %}
      {% if image_width > 399 and ratio < 1 %} padding-top:100%;{% endif %}
      {% if image_width<399 %}
        background-size: contain;
        padding-top: 100%;
      {% else %}

        {% if ratio <=1 %}
          padding-top: 100%;
        {% endif %}
        background-size:contain;
      {% endif %}
    {% endif %}" tabindex="0">
                <img src="/{{ active_theme_path() }}/static/assets/images/placeholder-1.gif" {% if media_alt%} alt="{{ media_alt }}" {% endif%}>
                <span class="gallery-icon" aria-label="{{ "Open gallery" |t }}"></span>
              </a><!--/image-field-->
              <ul class="gallery-thumbs" style="flex-wrap:unset ;margin: 0.5rem -0.5rem 0 0;">
              {% if loop.index==1 %}

              {% endif %}
            {% else %}
              {% if loop.index == 2 %}

              {% endif %}
              {% if not loop.first and loop.index<7 %}
                {% set thumb_class = 'visible-thumb' %}
              {% else %}
                {% set thumb_class = 'hidden' %}
              {% endif %}
              <li class="{{ thumb_class }}">
                <a data-image="{{ media_url }}" title="{{ media_title }}" class="gallery-image-item thumb thumb--landscape" href="{{ drupal_image(image.target_id)['#uri']|file_url }}" style="padding-bottom:68%; background-image: url('{{ drupal_image(media_uri,'thumbnail')['#uri']|file_url }}');" tabindex="0">
                  <img src="/{{ active_theme_path() }}/static/assets/images/placeholder-1.gif" {% if media_alt%} alt="{{ media_alt }}" {% endif%}>
                </a>
              </li>
              {% if loop.last %}
                </ul><!--/thumbnails-field-->
              {% endif %}
            {% endif %}
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
{#      {{  drupal_entity('node',  gallery_id , 'teaser')  }}#}
    {% endif %}
  {% endfor %}

{% endif %}
{% if field_name!='field_images' %}
{#{% if label_hidden %}#}
{#  {% if multiple %}#}
{#    <div{{ attributes }}>#}
{#      {% for item in items %}#}
{#        <div{{ item.attributes }}>{{ item.content }}</div>#}
{#      {% endfor %}#}
{#    </div>#}
{#  {% else %}#}
{#    {% for item in items %}#}
{#      <div{{ attributes }}>{{ item.content }}</div>#}
{#    {% endfor %}#}
{#  {% endif %}#}
{#{% else %}#}
{#  <div{{ attributes }}>#}
{#    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>#}
{#    {% if multiple %}#}
{#    <div>#}
{#      {% endif %}#}
{#      {% for item in items %}#}
{#        <div{{ item.attributes }}>{{ item.content }}</div>#}
{#      {% endfor %}#}
{#      {% if multiple %}#}
{#    </div>#}
{#    {% endif %}#}
{#  </div>#}
{#{% endif %}#}

  {% else %}
    <div class="image-block">
    {% for item in items %}

      {% set content  = item.content %}
      {% set  content = content|merge({'#orientation':orientation}) %}
      {% if loop.first %}
        {% set modal = true %}
        {% set  content = content|merge({'#setmodal':modal}) %}
        {{ content }}

        <ul class="gallery-thumbs" style="flex-wrap:unset ;margin: 0.5rem -0.5rem 0 0;">

        {% else %}

          {% if loop.index == 2 %}
            {% endif %}
          {% if loop.index <= 6 %}
            <li class="visible-thumb">
              {% else %}

          <li class="hidden">
          {% endif %}
            {% set content  = item.content %}
            {% set  content = content|merge({'#thumbnail':true}) %}
             {% set  content = content|merge({'#orientation':orientation}) %}
             {% set  content = content|merge({'#gallerythumb':true}) %}

            {{ content }}
          </li>
          {% if loop.last %}
            </ul><!--/thumbnails-field-->
            {% endif %}
      {% endif %}
    {% endfor %}
    </div><!--/image-block-->
{% endif %}
