{% set base_path= base_path ~ directory  %}
{% if content.field_orientation %}
  {% set style = content.field_orientation['#items'].getString() %}
  {% set orientation = style %}
{% endif %}

{% if style %}
  {% set image_uri = content.field_image['#items']|file_uri %}
  {% set original_image =  file_url(image_uri) %}
  {% set image_file_alt = content.field_image[0]['#media'].field_media_image.0.alt %}
  {% set title = content.field_image[0]['#media'].field_media_image.0.title %}
  {% set drupal_image_entity  = drupal_entity('media',content.field_image['#items'].target_id) %}
  {% if drupal_image_entity['#media'] %}
    {% set image_width = drupal_image_entity['#media'].field_media_image.width%}
    {% set image_height = drupal_image_entity['#media'].field_media_image.height%}
    {% set ratio = image_width/image_height %}

    {% set padding = image_height/image_width*100 %}
  {% endif %}
  <div class="image-block" {% if style == 'natural' %}{% endif %}>
    <a class="image-field image-field--{{ style }}" style="
      background-image: url({{ image_uri|image_style(style) }});
    {% if orientation=='natural' %}
      {% if image_width > 399 and ratio > 1 %}
        padding-top: {{ padding }}%;
      {% endif %}
      {% if image_width > 399 and ratio < 1 %} padding-top:100%;{% endif %}
      {% if image_width<399 %}
        background-size: contain;
        padding-top: 100%;
      {% else %}

        {% if ratio <=1 %}
          padding-top: 100%;
        {% endif %}
        background-size:contain;
      {% endif %}
    {% endif %}" data-image="{{ original_image }}"  data-plugin="modalOpener" data-modal="single" tabindex="0" title="{{ title }}">
      <img src="/{{ base_path }}/static/assets/images/placeholder-1.gif" {% if style=='natural'%}{% endif%} alt="{{ image_file_alt }}">
      <span class="gallery-icon" aria-label="{{ "Open picture" | t}}"></span>
    </a><!--/image-field-->
  </div><!--/image-block-->
{% endif %}
